
header {
    background-color: aqua;
    display: flex;
}
/*-------------------------------*/
.logo{
    width: 155px;
    height: 155px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-------------------------------*/

.buscar{
    top: 5px;
    position: absolute;
    padding: 5px;
    margin-left: 42.5%; 
    margin-top: 45px;
}

.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn{
    width: 55px;
    height: 55px;
    line-height: 55px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: orange;
    line-height: 55px;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input{
    width: 240px;
}

.buscar input:focus{
    width: 240px;
}


/*-------------------------------*/

.nav, .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 54%;
    margin-top: 25px;
}

.nav {
    position:fixed;
    background-color: #fff;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    right: 0;
}

.nav input:checked ~ .menu {
    width: 450px;
    right: 0;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #161919;
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #f974a1;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}
/*
.carroCompra{
    width: 50px;
    height: 50px;
}
*/

/*-------------------------------*/
.IconoUsuario img {
    width: 50px;
    height: 50px;
    margin-top: 45px;
    
}
