
header {
    background-color: rgb(179, 255, 255);
    display: flex;
}
/*-------------------------------*/
.logo{
    width: 155px;
    height: 155px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-------------------------------*/

.buscar{
    top: 5px;
    position: absolute;
    padding: 5px;
    margin-left: 42.5%; 
    margin-top: 45px;
}

.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn{
    width: 55px;
    height: 55px;
    line-height: 55px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: orange;
    line-height: 55px;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input{
    width: 240px;
}

.buscar input:focus{
    width: 240px;
}


/*-------------------------------*/


/*
.carroCompra{
    width: 50px;
    height: 50px;
}
*/

/*-------------------------------*/
.IconoUsuario img {
    width: 50px;
    height: 50px;
    margin-top: 45px;
    float:right;
    
}

.IconoUsuario {
    position: absolute;
    right: 0;
    margin-top: 45px;
}
/*-------------------------------*/


#galeria {
	max-width: 500px;
	margin: 0 auto;
}

img {
	float: left;
	padding: 1.2em
    width: 150px;
    height: 150px; 
}
img:hover {
	background-color: #e8f1f4;
}