main {
  position: relative;
  min-height: 100vh; 
}
/*Barra lateral*/
.sidebar {
  text-align: left;
  position: absolute;
  z-index: 2;
}

#sidebar {
  z-index: 1000;
  position: fixed;
  left:   0;
  width: 300px;
  height: 100%; 
  margin-left: -250px;
  overflow-y: auto;
  background: #333;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  
}

#sidebar header {
  background-color: #333;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav a {
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover {
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i {
  margin-right: 16px;
}
/*Contenido Web*/
.producto {
  background: #fff;
  width: 10%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}
.producto:hover {
  transform: translateY(-5px);
}
.btn-comprar {
  background: #eb8231;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.producto img {
  width: 100%;
  border-radius: 10px;
}