main {
  display: flex;
  min-height: 100vh;
  padding-top: 60px; 
}
/* Barra Lateral */
#barraLateral1 {
  position: absolute;
  top: 70px; 
  padding: 20px;
  width: 300px;
  height: 2086px; 
  background-color: #797979;
  border-right: 1px solid black;
}

#barraLateral1 h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: white;
}

#barraLateral1 ul {
  list-style: none;
  padding: 0;
}

#barraLateral1 ul li {
  margin-bottom: 15px;  
}

#barraLateral1 ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s;
}

/*Filtros populares*/
.filtro{
  border-radius:5px;
  border: none;
  margin: 5px;
  padding: border-box;
  font-size: medium;
  cursor: pointer;
}
.filtro:hover{
  background-color: lightgray ;
}

.filtros2 li ul a{
  border-radius:5px;
  border: none;
  margin: 5px;
  padding: border-box;
  font-size: medium;
  cursor: pointer;
}
.filtros2 li ul a:hover{
  color: black ;
}

/*Desplegables*/
details.desplegable {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: white;
  
}

details.desplegable summary {
  cursor: pointer; 
  font-weight: bold;
  
}

details.desplegable form {
  margin-top: 10px; 
}

details.desplegable label {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  transition: color 0.3s;
  cursor: pointer;

}
details.desplegable label:hover {
  color: black;
}

details.desplegable input[type="checkbox"] {
  size: 50px;
}

/*Linea Divisora*/
.divisor {
  border: 0;
  height: 2px;
  background: white;
  margin: 15px 0;
}

/*Productos*/
.productos {
  border: #444 1px solid;
  border-radius: 20px;
  background-color: #d8d5d5 ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  z-index: 2;
  margin-left: 610px;
  margin-top: 100px;
  margin-bottom: 90px;
}

.producto {
  background: rgba(233, 233, 233, 0.8);
  border: #444 1px solid;
  width: 200px;
  padding: 15px;
  margin: 50px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.precio{
  margin-top: 5px;
}

.producto:hover {
  box-shadow: 0 0 20px #444;
  filter: brightness(1.1);
}

.btn-comprar {
  margin-top: 5px;
  background: #eb8231;
  color: white;
  text-decoration: none;
  font-size: 15px;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-comprar:hover {
  background: #c52121;
}
.producto img {
  width: 100%;
  border-radius: 10px;
}
/*Titulo pagina*/
h1 {
  
  margin-top: 20px;
  font-size: 2.5em;
  font-weight: 600;
  color: #444;
  position: absolute;
  top: 100px;
  margin-left: 520px;
  transform: translateX(-50%);
  z-index: 3;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}



/*paginas*/
.paginas {
  position: absolute;
  align-items: center;
  gap: 5px; 
  padding: 6px; 
  width: 370px;
  margin-top: 2000px;
  margin-left: 940px;
}

.pagina-boton {
  background-color: #eb8231;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: medium;
  font-weight: bold;
}

.pagina-boton:hover {
  background-color: #c52121;
}