body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #b4b4b4;
}

.navbar {
    background-color: #333;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    flex-shrink: 0; 
}

.logo-container img {
    height: 50px; 
    width: auto;
    display: block;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0 auto; 
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #ff9800;
    transition: width 0.3s ease-in-out;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

.nav-link:hover {
    color: #ff9800;
}

.nav-link:hover::after {
    width: 100%;
}
    
/*-------------------------------*/

.IconoUsuario img {
    width: 80px;
    height: 50px;
    float:right;
    margin-right: 5px;
}

.IconoUsuario {
    position: absolute;
    right: 0;
}

/*-------------------------------*/

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    margin-top: 20px;
}