#galeria {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em; 
    margin: 0 auto;
    justify-content: center;
}

#galeria img {
    width: 250px; 
    height: 250px; 
    transition: background-color 0.3s ease;
    justify-self: center; 
    align-self: center;
}

#galeria .producto {
    text-align: center;
    margin-bottom: 1em;
}

#galeria .producto img {
    display: block;
    margin: 0 auto;
}

#galeria .producto .nombre {
    margin-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}

#galeria img:hover {
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/*-------------------------------*/

#publi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}