body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #b4b4b4;
}
.contenedor {
    width: 70%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 40px;
}
.carro {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.objeto-carro {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.objeto-carro img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.info-objeto {
    flex: 1;
    margin-left: 10px;
}
.objeto-carro-accion {
    display: flex;
    align-items: center;
}
.objeto-carro-accion button {
    background: #ff6b6b;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
.objeto-carro-accion button:hover {
    background: #c52121;
}
.total-carro {
    text-align: right;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
.boton-finalizar {
    display: block;
    width: 100%;
    padding: 10px;
    background: #eb8231;
    color: white;
    text-align: center;
    border: none;
    margin-top: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}
.boton-finalizar:hover {
    background: #c52121;
}