* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

/*General*/
.contenedor {
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d8d5d5;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: #333 1px solid;
}

/*Cesta*/
.cesta {
    flex: 3;
    padding-right: 20px;
    background-color: #d8d5d5;
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

/* Productos */
.producto-cesta {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    width: 850px;
    background: rgba(233, 233, 233, 0.8);
    border: #333 1px solid;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.producto-cesta:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px #444;
    filter: brightness(1.1);
}

.producto-cesta img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 8px;
}

.detalles-producto {
    flex: 1;
}

h3 {
    margin: 0;
    font-size: 18px;
}

.precio {
    font-weight: bold;
    color: #27ae60;
    font-size: 18px;
}

/* Botón eliminar */
.btn-eliminar {
    background: #eb8231;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
}

.btn-eliminar:hover {
    background: #c52121;
}

/* Resumen */
.resumen {
    background: rgba(233, 233, 233, 0.9);
    padding: 25px;
    width: 600px;
    height: 400px;
    margin-top: 45px;
    border-radius: 12px;
    border: 1px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    text-align: left;
}

.resumen h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

.resumen-detalles {
    margin-bottom: 15px;
}

.resumen-detalles p {
    font-size: 18px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    color: #555;
}

.resumen-detalles span {
    font-weight: bold;
    color: #333;
}

.envio {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

.total {
    font-size: 22px;
    font-weight: bold;
    color: #27ae60;
    text-align: center;
    margin: 15px 0;
}

.btn-compra {
    display: block;
    width: 100%;
    background: #eb8231;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    transition: background 0.3s;
    text-decoration: none;
}

.btn-compra:hover {
    background: #c52121;
    transform: scale(1.02);
}


